---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Technology Strategy & Roadmap",
    description:
      "We assess your current technology landscape and understand their business goals, so we build exactly what you need.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "System Integration & Implementation",
    description:
      "Integrate with booking engines, revenue management systems, customer relationship management platforms, and more.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Custom Software Development",
    description:
      "Sometimes off-the-shelf solutions don't perfectly fit your unique needs. We can build custom software for bespoke applications.",
    icon: "bx:bxs-data",
  },
  {
    title: "Data Analytics & Business Intelligence",
    description:
      "You need to know that your solution is producing results. We help you leverage that data to develop competitive insights.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Enabled",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Digital Transformation & Innovation",
    description:
      "The travel industry is constantly evolving. We help travel companies embrace digital transformation and stay ahead of the curve.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to get started.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We are a full-service firm that can take your vision from idea to execution, with a focus on speed to market.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
