---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Our Portfolio Partners</h2>
  <div class="flex gap-6 md:gap-10 items-center justify-center mt-5 flex-wrap">

    <img src="https://vectorseek.com/wp-content/uploads/2021/01/Choice-Hotels-International-Logo-Vector-scaled.jpg" class="size-40 md:size-40" alt="Choice Hotels"/>
    <img src="https://1000logos.net/wp-content/uploads/2023/11/Expedia-Logo.png" style="height: 6rem" alt="Expedia"/>
    <img src="https://images.seeklogo.com/logo-png/6/2/hilton-international-logo-png_seeklogo-66931.png" style="height: 6rem" alt="Hilton"/>
    <img src="https://assets.sabre.com/images/brand/sabre-logo-red.svg" style="height: 2rem" alt="Booking.com"/>
    <img src="https://1000logos.net/wp-content/uploads/2021/05/Booking.Com-logo.png" style="height: 6rem" alt="Sabre"/>
    
  </div>
</div>
